body{
    background-color: #F3F3F3;
}
.widget{
    position: relative;
    display: block;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.06);
}
.widget-content{
    overflow: hidden;
}
.counter{
    line-height: 1.2;
}
